*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-image: var(--bg-gradient);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
}

td {
  border: 1px solid black;
  padding: 15px 10px 10px 10px;
}
